{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детальная информация о товаре</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  {% if product_data.errors == false %}
    {% for product in product_data %}
      <div style="border: 1px; background-color: rgb(65, 44, 120); border-radius: 5px; padding: 10px;">
        <h3 style="color: aliceblue;">Информация о товаре - {{ product.name }}</h3>
        <table>
          <tr><th class="valueStyle">id:</th><th class="valueStyle">{{ product.gid }}</th></tr>
          <tr><th class="valueStyle">Бренд:</th><th class="valueStyle">{{ product.brand }}</th></tr>
          <tr><th class="valueStyle">Артикул:</th><th class="valueStyle">{{ product.art }}</th></tr>
          <tr><th class="valueStyle">Деталь:</th><th class="valueStyle">{{ product.name }}</th></tr>
          <tr><th class="valueStyle">d_deliv:</th><th class="valueStyle">{{ product.d_deliv }}</th></tr>
          <tr><th class="valueStyle">h_deliv:</th><th class="valueStyle">{{ product.h_deliv }}</th></tr>
          <tr><th class="valueStyle">kr:</th><th class="valueStyle">{{ product.kr }}</th></tr>
          <tr><th class="valueStyle">Номер:</th><th class="valueStyle">{{ product.num }}</th></tr>
          <tr><th class="valueStyle">Цена:</th><th class="valueStyle">{{ product.price }}</th></tr>
          <tr><th class="valueStyle">Склад:</th><th class="valueStyle">{{ product.whse }}</th></tr>
          <tr><th class="valueStyle">Подлежит ли возрату:</th>
          <th class="valueStyle">
            {% if product.is_returnable == 1 %}
              Да
            {% else %}
              Нет
            {% endif %}
          </th></tr>
        </table>
      </div>
        <br><br><br>
    {% endfor %}
  {% else %}  
    <h3>Такого артикула не существует</h3>
  {% endif %}
</body>
</html>


<style>
  .valueStyle{
    font-weight: normal;
  }

  th, td {
    border-bottom: 1px solid #ddd;
    color: #fafafa;
  }


    body {
        margin-left: auto;
        margin-right: auto;
        width: 20em;
        background-color: #fafafa;
    }
</style>